
<div class="row" style="padding-top: 30px;">

</div>
<div class="row" style="background-color:whitesmoke; padding-top:30px; height: 200px;">
 <div class="col-lg-2" style="padding-top: 30px; padding-left: 150px;">
     <input type="text" name="Search" value="Email" id="Email" style="height: 34px;" size="22">
    
 </div>
 <div class="col-lg-2" style="padding-top: 30px; padding-left:60px; padding-bottom: 20px;" >
    
    <button mat-raised-button color="green" style="background-color: green; color: white; height: 35px;">Subscribe</button>
 </div>
 <div class="col-lg-6" style="padding-top: 20px; text-align: right; ">
    <button mat-mini-fab style="background-color: whitesmoke;">
        <mat-icon style="color:black;">facebook</mat-icon>
        
    </button>
    
   
    
 </div>
 <mat-divider></mat-divider>
 <div class="row" >
    <div class="col-lg-1" style="padding-top: 20px; padding-left: 10%;">
        <mat-icon style="padding-bottom: 30px;">copyright</mat-icon>
    </div>
    <div class="col-lg-1" style="padding-top: 22px;">
        2021 Grocebuy
    </div>
    <div class="col-lg-4" style="padding-top: 22px;">
        <a [routerLink]="['/AboutUs']" style="color:black; padding-bottom: 45px;text-decoration: none;">About Us| </a>
        <a [routerLink]="['/shipping']" style="color:black; padding-bottom: 25px; margin-left: 10px; text-decoration: none;">Shipping policy|</a>
        <a [routerLink]="['/refunds']" style="color:black; padding-bottom: 25px; margin-left: 10px; text-decoration: none;">Refunds/Cancellations|</a>
        <a [routerLink]="['/contact']" style="color:black; padding-bottom: 25px; text-decoration: none;">Contact Us</a>
        
    </div>
    <div class="col-lg-4" style="text-align: right; margin-left: 120px; padding-top: 22px;">
        <a [routerLink]="['/AboutUs']" style="color:black; padding-bottom: 45px;text-decoration: none; font-weight: bold;">FAQ </a>
        <a [routerLink]="['/shipping']" style="color:black; padding-bottom: 25px; margin-left: 10px; text-decoration: none; font-weight: bold;">Privacy</a>
        <a [routerLink]="['/refunds']" style="color:black; padding-bottom: 25px;text-decoration: none;margin-left: 10px;font-weight: bold; ">Terms and conditions</a>

    </div>
        
 </div>
 


</div>