<!DOCTYPE html>
<html>

    <body>
       
           <div class="row" style="color:black; font-size: 18px; padding-left: 15%; padding-top: 30px;">
            <p>
                What do you looking for?
                <button class="btn bg-transparent" style="border-color: green;color: green; margin-left: 90%; margin-top: -50px;">
                    See more
                </button>

            </p>
           
           </div>
           <div class="row">
            <div class="card" style="width: 10rem ; height:10rem; margin-left: 30%;">
                <img src="assets/veg.jpeg" class="card-img-top" alt="...">
                <div class="card-body" style="font-size: 15px;">
                  <p  style="padding-left: -10px;">
                    Vegetables
                  </p>
                  
                </div>
               
              </div>
              <div class="card" style="width: 10rem ; height:10rem; margin-left: 50px;">
                <img src="assets/groceries.jpg" class="card-img-top" alt="..." style="height: 110px;">
                <div class="card-body" style="font-size: 15px;">
                  <p  style="padding-left: -10px;">
                    Groceries
                  </p>
                  
                </div>
               
              </div>
              <div class="card" style="width: 10rem ; height:10rem; margin-left: 50px;">
                <img src="assets/food.png" class="card-img-top" alt="..." style="padding-top: 10px; height: 110px;">
                <div class="card-body" style="font-size: 15px;">
                  <p  style="padding-left: -10px;">
                    Food
                  </p>
                  
                </div>
               
              </div>
              <div class="card" style="width: 10rem ; height:10rem; margin-left: 50px;">
                <img src="assets/pantry.jpg" class="card-img-top" alt="..." style="padding-top: 20px; height:150px">
                <div class="card-body" style="font-size: 15px;">
                  <p  style="padding-left: -10px;">
                    Pantry
                  </p>
                  
                </div>
               
              </div>
              <div class="card" style="width: 10rem ; height:10rem; margin-left: 50px;">
                <img src="assets/baby.jpg" class="card-img-top" alt="..." style="padding-top: 5px;">
                <div class="card-body" style="font-size: 15px;">
                  <p  style="padding-left: -10px;">
                    Baby&Personel
                  </p>
                  
                </div>
               
              </div>

           </div>
           <div class="row" style="font-size: 18px;padding-left: 15%; color: black; padding-top: 40px;">
            <p>
                Pick's Today
                <button class="btn bg-transparent" style="border-color: green;color: green; margin-left: 90%; margin-top: -50px;">
                    See more
                </button>
            </p>

           </div>
           <div class="row">
            <div class="card" style="width: 16rem; height: 18rem; margin-left: 15%;" >
                <img class="card-img-top" src="assets/barley.jpeg" alt="Card image cap" style="height: 150px;">
                <div class="card-body">
                    <h6 class="card-title">Barley Flour</h6>
                  <p>
                    <input type="text" name="placeholder" value="1kg Rs.25" >
                  </p>
                  <div class="row">
                    <div class="col-lg-4">
                        <p style="color: green;">
                            Rs 23
                        </p>
                    </div>
                    <div class="col-lg-8">
                        
                    <a href="#" class="btn btn-warning" style="color: aliceblue; background-color: orangered;">Add To Cart </a>

                    </div>
                    

                </div>
                </div>
            </div>
            <div class="card" style="width: 16rem; height: 18rem; margin-left: 30px;" >
                <img class="card-img-top" src="assets/mangoes.jpg" alt="Card image cap"  style="height: 150px;" >
                <div class="card-body">
                    <h6 class="card-title">Raw mango</h6>
                  <p>
                    <input type="text" name="placeholder" value="1pc Rs.20" >
                  </p>
                  <div class="row">
                    <div class="col-lg-4">
                        <p style="color: green;">
                            Rs 20
                        </p>
                    </div>
                    <div class="col-lg-8">
                        
                    <a href="#" class="btn btn-warning" style="color: aliceblue; background-color: orangered;">Add To Cart </a>

                    </div>
                    

                </div>
                </div>
            </div>
            <div class="card" style="width: 16rem; height: 18rem; margin-left: 30px;" >
                <img class="card-img-top" src="assets/cabbage.jpeg" alt="Card image cap" style="height: 150px;">
                <div class="card-body">
                    <h6 class="card-title">Cabbage</h6>
                  <p>
                    <input type="text" name="placeholder" value="2pc 160" >
                  </p>
                  <div class="row">
                    <div class="col-lg-4">
                        <p style="color: green;">
                            Rs 160
                        </p>
                    </div>
                    <div class="col-lg-8">
                        
                    <a href="#" class="btn btn-warning" style="color: aliceblue; background-color: orangered;">Add To Cart </a>

                    </div>
                    

                </div>
                </div>
            </div>
            <div class="card" style="width: 16rem; height: 18rem; margin-left: 30px;" >
                <img class="card-img-top" src="assets/ladyfinger.jpeg" alt="Card image cap" style="height: 150px;">
                <div class="card-body">
                    <h6 class="card-title">Lady Finger</h6>
                  <p>
                    <input type="text" name="placeholder" value="1kg 60" >
                  </p>
                <div class="row">
                    <div class="col-lg-4">
                        <p style="color: green;">
                            Rs 60
                        </p>
                    </div>
                    <div class="col-lg-8">
                        
                    <a href="#" class="btn btn-warning" style="color: aliceblue; background-color: orangered;">Add To Cart </a>

                    </div>
                    

                </div>
                  
                </div>
            </div>
            <div class="row" style="padding-top: 40px;">
                <div class="card" style="width: 16rem; height: 18rem; margin-left: 15%;" >
                    <img class="card-img-top" src="assets/brinjal.jpeg" alt="Card image cap" style="height: 150px;">
                    <div class="card-body">
                        <h6 class="card-title">Brinjal-Green(long)</h6>
                      <p>
                        <input type="text" name="placeholder" value="1kg Rs.60" >
                      </p>
                      <div class="row">
                        <div class="col-lg-4">
                            <p style="color: green;">
                                Rs 60
                            </p>
                        </div>
                        <div class="col-lg-8">
                            
                        <a href="#" class="btn btn-warning" style="color: aliceblue; background-color: orangered;">Add To Cart </a>
    
                        </div>
                        
    
                    </div>
                    </div>
                </div>
                <div class="card" style="width: 16rem; height: 18rem; margin-left: 30px;" >
                    <img class="card-img-top" src="assets/brinjal small.jpg" alt="Card image cap"  style="height: 150px;" >
                    <div class="card-body">
                        <h6 class="card-title">Brinjal-Green(small)</h6>
                      <p>
                        <input type="text" name="placeholder" value="1kg Rs.60" >
                      </p>
                      <div class="row">
                        <div class="col-lg-4">
                            <p style="color: green;">
                                Rs 60
                            </p>
                        </div>
                        <div class="col-lg-8">
                            
                        <a href="#" class="btn btn-warning" style="color: aliceblue; background-color: orangered;">Add To Cart </a>
    
                        </div>
                        
    
                    </div>
                    </div>
                </div>
                <div class="card" style="width: 16rem; height: 18rem; margin-left: 30px;" >
                    <img class="card-img-top" src="assets/purple brinjal.jpg" alt="Card image cap" style="height: 150px;">
                    <div class="card-body">
                        <h6 class="card-title">Brijal-Purple(long)</h6>
                      <p>
                        <input type="text" name="placeholder" value="1kg Rs.60" >
                      </p>
                      <div class="row">
                        <div class="col-lg-4">
                            <p style="color: green;">
                                Rs 60
                            </p>
                        </div>
                        <div class="col-lg-8">
                            
                        <a href="#" class="btn btn-warning" style="color: aliceblue; background-color: orangered;">Add To Cart </a>
    
                        </div>
                        
    
                    </div>
                    </div>
                </div>
                <div class="card" style="width: 16rem; height: 18rem; margin-left: 30px;" >
                    <img class="card-img-top" src="assets/Brinjal Purpl small.jpg" alt="Card image cap" style="height: 150px;">
                    <div class="card-body">
                        <h6 class="card-title">Brijal-Purple(small)</h6>
                      <p>
                        <input type="text" name="placeholder" value="1kg Rs.60" >
                      </p>
                    <div class="row">
                        <div class="col-lg-4">
                            <p style="color: green;">
                                Rs 60
                            </p>
                        </div>
                        <div class="col-lg-8">
                            
                        <a href="#" class="btn btn-warning" style="color: aliceblue; background-color: orangered;">Add To Cart </a>
    
                        </div>
                        
    
                    </div>
                    </div>
                      
                    </div>



            </div>
            <div class="row" style="padding-top: 40px; padding-left: 15%; font-size: 18px;">
                <p>
                    Recommended for You
                </p>

            </div>
            <div class="row" style="padding-top: 20px;">
                <div class="card" style="width: 22rem; height: 22rem; margin-left: 15%;" >
                    <img class="card-img-top" src="assets/oildabba.jpg" alt="Card image cap"  style="height: 210px;" >
                    <div class="card-body">
                        <h6 class="card-title">Aadhar Refined Fortune Oil</h6>
                      <p>
                        <input type="text" name="placeholder" value="1kg Rs.60" >
                      </p>
                      <div class="row">
                        <div class="col-lg-4">
                            <p style="color: green;">
                                Rs 60
                            </p>
                        </div>
                        <div class="col-lg-8">
                            
                        <a href="#" class="btn btn-warning" style="color: aliceblue; background-color: orangered; margin-left: 40%;">Add To Cart </a>
    
                        </div>
                        
    
                    </div>
                    </div>
                </div>
                <div class="card" style="width: 22rem; height: 22rem; margin-left: 30px;" >
                    <img class="card-img-top" src="assets/oil.jpg" alt="Card image cap"  style="height: 210px;" >
                    <div class="card-body">
                        <h6 class="card-title">Sunflower Ground Nut Oil</h6>
                      <p>
                        <input type="text" name="placeholder" value="1kg Rs.60" >
                      </p>
                      <div class="row">
                        <div class="col-lg-4">
                            <p style="color: green;">
                                Rs 60
                            </p>
                        </div>
                        <div class="col-lg-8">
                            
                        <a href="#" class="btn btn-warning" style="color: aliceblue; background-color: orangered; margin-left: 40%;">Add To Cart </a>
    
                        </div>
                        
    
                    </div>
                    </div>
                </div>
                <div class="card" style="width: 22rem; height: 22rem; margin-left: 30px;" >
                    <img class="card-img-top" src="assets/air.jpeg" alt="Card image cap"  style="height: 210px;" >
                    <div class="card-body">
                        <h6 class="card-title">Air Wick Freshner Refill-Lavender Dew 250ml</h6>
                      <p>
                        <input type="text" name="placeholder" value="1kg Rs.60" >
                      </p>
                      <div class="row">
                        <div class="col-lg-4">
                            <p style="color: rgb(128, 0, 66);">
                                Rs 60
                            </p>
                        </div>
                        <div class="col-lg-8">
                            
                        <a href="#" class="btn btn-warning" style="color: aliceblue; background-color: orangered; margin-left: 40%;">Add To Cart </a>
    
                        </div>
                        
    
                    </div>
                    </div>
                </div>

            </div>

           </div>
         
        
        

        

           
    </body>    
</html>